@model BudgetManagerXame.Models.Estimate

@{
    ViewBag.Title = "Create";
}
@{

    @Html.ActionLink("Synkroniser konti", "Sync", "Budget", new { id = ViewBag.BudgetId, FiscalId = ViewBag.FiscalId, siteId = 2 }, new { @class = "btn btn-default my-btn" })
    <table class="table table-bordered">
        <tr>
            <th class="head-cat">
                Budget år: @ViewBag.Year
            </th>
            <th>Total</th>
            @foreach (var period in Model.Period)
            {
                <th class="head">@period.Name</th>
            }
        </tr>
        @foreach (var group in Model.FinanceGroup)
        {
            double total = 0;
            <tr>
                <td><b>@group.Name</b></td>
                @foreach (var per in Model.Period)
                {
                    foreach (var account in Model.FinanceAccount)
                    {
                        if (account.FinanceGroup == group.Name)
                        {
                            foreach (var estimate in Model.Fap)
                            {
                                if (estimate.AccountId == account.AccountId && estimate.PeriodId == per.Id)
                                {
                                    total += estimate.Estimate;
                                }

                            }

                        }


                    }
                    <td class="text-right"><div class="row my-border-row"><div class="col-lg-6 my-border-div"><b>@total</b></div><div class="col-lg-6"><b>Diff</b></div></div><div class="row"><div class="col-lg-12 text-center">%</div></div></td>
                    total = 0;
                }


            </tr>
            foreach (var account in Model.FinanceAccount)
            {
                if (account.FinanceGroup == group.Name)
                {
                    <tr>
                        <td>
                            @account.Name
                        </td>

                        @foreach (var estimate in Model.Fap)
                        {
                            if (estimate.AccountId == account.AccountId)
                            {
                                <td class="text-right"><div class="row my-border-row"><div class="col-lg-6 my-border-div">@estimate.Estimate</div><div class="col-lg-6">Diff</div> </div><div class="row"><div class="col-lg-12 text-center">%</div></div></td>
                            }

                        }

                    </tr>
                }

            }
        }
    </table>
}
