@model BudgetManagerXame.Models.Estimate

@{
    ViewBag.Title = "Create";
}

<table class="table table-bordered">
    <tr>
        <th>
            Budget år: @ViewBag.Year
        </th>
        @foreach (var period in Model.Period)
        {
            <th class="col-lg-2">@period.Name</th>
        }
    </tr>
    @foreach (var group in Model.FinanceGroup)
    {
        <tr>
            <td><b>@group.Name</b></td>
        </tr>
        foreach (var account in Model.FinanceAccount)
        {
            if (account.FinanceGroup == group.Name)
            {
                <tr>
                    <td>
                        @account.Name
                </td>
                    
                        @foreach (var estimate in Model.Fap)
                        {
                            if (estimate.AccountId == account.AccountId)
                            {
                                <td class="text-right">@estimate.Estimate</td>
                            }

                        }
     
            </tr>
            }

        }
    }
</table>
